
  
  
  <style>
    .gps-486396127235540183 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-486396127235540183 .pointer-events-none{pointer-events:none}.gps-486396127235540183 .pointer-events-auto{pointer-events:auto}.gps-486396127235540183 .relative{position:relative}.gps-486396127235540183 .mx-auto{margin-left:auto;margin-right:auto}.gps-486396127235540183 .mb-0{margin-bottom:0}.gps-486396127235540183 .inline-block{display:inline-block}.gps-486396127235540183 .flex{display:flex}.gps-486396127235540183 .grid{display:grid}.gps-486396127235540183 .h-full{height:100%}.gps-486396127235540183 .w-full{width:100%}.gps-486396127235540183 .max-w-full{max-width:100%}.gps-486396127235540183 .flex-col{flex-direction:column}.gps-486396127235540183 .gap-y-0{row-gap:0}.gps-486396127235540183 .overflow-hidden{overflow:hidden}.gps-486396127235540183 .align-middle{vertical-align:middle}.gps-486396127235540183 .text-g-text-2{color:var(--g-c-text-2)}.gps-486396127235540183 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486396127235540183 .duration-200{transition-duration:.2s}.gps-486396127235540183 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486396127235540183 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-486396127235540183 .\[\&_p\]\:inline p{display:inline}.gps-486396127235540183 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-486396127235540183 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gdkAt1nhz6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdkAt1nhz6 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCUdMXjN96 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gEm28RUVsX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEm28RUVsX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmvUSjUnVM relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--mb-mobile:var(--g-s-l)" class="gzcgf5OCDr ">
      
    <div
      parentTag="Col"
        class="gzcgf5OCDr "
        style="--tt:default;--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:35px;word-break:break-word"
        >
        <p>Why should you choose<br>our product?</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gXVZN2UxEn "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--mb-tablet:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>Experience our prestigious after-sales service.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gODkLkAy-P"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gODkLkAy-P mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gN1rJiYgGp relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gl35Qgyuni"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 1px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl);--cg:var(--g-s-l);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl35Qgyuni mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_C_X0ShY1 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gKdBh0eNyL"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-6e405adb-3940-45ac-a4db-fdd9ec68e43a.png" | asset_url }}" data-srcset="{{ '432750572815254551-6e405adb-3940-45ac-a4db-fdd9ec68e43a.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-6e405adb-3940-45ac-a4db-fdd9ec68e43a.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-6e405adb-3940-45ac-a4db-fdd9ec68e43a.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="144" height="144" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g29lw-MKvf relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gJsk5TaseS ">
      
    <div
      parentTag="Col"
        class="gJsk5TaseS "
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:37px;word-break:break-word"
        >
        <p>24/7 Friendly<br>Support</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWpST8G_a- relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gbMrEqtGH8"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 1px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl);--cg:var(--g-s-l);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbMrEqtGH8 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUMowoEX8s relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gFeVhqRB_q"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-a077c27d-cff2-4052-a9ea-6b22b5c2efda.png" | asset_url }}" data-srcset="{{ '432750572815254551-a077c27d-cff2-4052-a9ea-6b22b5c2efda.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-a077c27d-cff2-4052-a9ea-6b22b5c2efda.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-a077c27d-cff2-4052-a9ea-6b22b5c2efda.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="144" height="144" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="grUOTe0kKz relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gV0WYD6pTQ ">
      
    <div
      parentTag="Col"
        class="gV0WYD6pTQ "
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:37px;word-break:break-word"
        >
        <p>Free Shipping<br>over $60</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gf1jhYm3qL relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gvBp6Tn1Ai"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 1px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl);--cg:var(--g-s-l);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvBp6Tn1Ai mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gIYjrsGp9m relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gl2i7DpCLN"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-08df7b9d-2dbf-4a86-a049-252ada11e552.png" | asset_url }}" data-srcset="{{ '432750572815254551-08df7b9d-2dbf-4a86-a049-252ada11e552.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-08df7b9d-2dbf-4a86-a049-252ada11e552.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-08df7b9d-2dbf-4a86-a049-252ada11e552.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="144" height="144" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRpAwdlOjg relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gFHk5ek4ps ">
      
    <div
      parentTag="Col"
        class="gFHk5ek4ps "
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:37px;word-break:break-word"
        >
        <p>Secure Online<br>Payment</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gX1fFEEJFU relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="ghk3e_4dxu"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl);--cg:var(--g-s-l);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghk3e_4dxu mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g83nFOITY4 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gZ84OVKQpB"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-e9ed5b25-f53f-48e7-b74a-690a58a91b34.png" | asset_url }}" data-srcset="{{ '432750572815254551-e9ed5b25-f53f-48e7-b74a-690a58a91b34.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-e9ed5b25-f53f-48e7-b74a-690a58a91b34.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-e9ed5b25-f53f-48e7-b74a-690a58a91b34.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="144" height="144" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ghhFnexv_J relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gxaiy_fuIp ">
      
    <div
      parentTag="Col"
        class="gxaiy_fuIp "
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:37px;word-break:break-word"
        >
        <p>Money-back&nbsp;</p><p>guarantee</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="geVJYkvyqj"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geVJYkvyqj mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gpfcbbI3Id relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gdwiN29WoV"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl);--cg:var(--g-s-l);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdwiN29WoV mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="goHtALK05Z relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g1AQc2LaH7"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/936aa989-b452-48e2-8150-40bb42049980/-/format/auto/" data-srcset="https://ucarecdn.com/936aa989-b452-48e2-8150-40bb42049980/-/format/auto/ 768w,https://ucarecdn.com/936aa989-b452-48e2-8150-40bb42049980/-/format/auto/ 1024w,https://ucarecdn.com/936aa989-b452-48e2-8150-40bb42049980/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="48" height="48" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4Vwj_HfN- relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g3dH7FGpHO ">
      
    <div
      parentTag="Col"
        class="g3dH7FGpHO "
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:130%;--size:37px;--size-tablet:37px;--size-mobile:19px;word-break:break-word"
        >
        <p>24/7 Friendly<br>Support</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gzihliYcVU relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gF9o8xtFeQ"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl);--cg:var(--g-s-l);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gF9o8xtFeQ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gf8QdPUKaq relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image goM5GwkatP"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/8a216446-1172-4123-8d49-da0103a1c9ef/-/format/auto/" data-srcset="https://ucarecdn.com/8a216446-1172-4123-8d49-da0103a1c9ef/-/format/auto/ 768w,https://ucarecdn.com/8a216446-1172-4123-8d49-da0103a1c9ef/-/format/auto/ 1024w,https://ucarecdn.com/8a216446-1172-4123-8d49-da0103a1c9ef/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="48" height="48" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gI4r3eaIv9 relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gzBr9JKP9i ">
      
    <div
      parentTag="Col"
        class="gzBr9JKP9i "
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:130%;--size:37px;--size-tablet:37px;--size-mobile:19px;word-break:break-word"
        >
        <p>Free Shipping<br>over $60</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_94dKBpWU relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gj1YDllrzA"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl);--cg:var(--g-s-l);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gj1YDllrzA mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWh6GRvdKK relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g3SACzlwSa"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/f450f50c-daf4-4219-ae86-e9e6bc6c1779/-/format/auto/" data-srcset="https://ucarecdn.com/f450f50c-daf4-4219-ae86-e9e6bc6c1779/-/format/auto/ 768w,https://ucarecdn.com/f450f50c-daf4-4219-ae86-e9e6bc6c1779/-/format/auto/ 1024w,https://ucarecdn.com/f450f50c-daf4-4219-ae86-e9e6bc6c1779/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="46" height="40" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gTCY5Fbng_ relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gtNimivGh2 ">
      
    <div
      parentTag="Col"
        class="gtNimivGh2 "
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:130%;--size:37px;--size-tablet:37px;--size-mobile:19px;word-break:break-word"
        >
        <p>Secure Online<br>Payment</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gdLTS88v0n relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="giYeCf6O1i"
        style="--b:solid;--bc:#E0E0E0;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml-mobile:-5px;--mb-mobile:var(--g-s-3xl);--cg:var(--g-s-l);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giYeCf6O1i mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gt-Jbf8W3e relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gcfuCY5XEc"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:48px;--w-tablet:48px;--w-mobile:48px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/0d075d18-26c3-4b69-bf30-3e3e4e77bb05/-/format/auto/" data-srcset="https://ucarecdn.com/0d075d18-26c3-4b69-bf30-3e3e4e77bb05/-/format/auto/ 768w,https://ucarecdn.com/0d075d18-26c3-4b69-bf30-3e3e4e77bb05/-/format/auto/ 1024w,https://ucarecdn.com/0d075d18-26c3-4b69-bf30-3e3e4e77bb05/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="48" height="48" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUDsiBw-E1 relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g7MdCZYpcG ">
      
    <div
      parentTag="Col"
        class="g7MdCZYpcG "
        style="--tt:default;--ta:left"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:130%;--size:37px;--size-tablet:37px;--size-mobile:19px;word-break:break-word"
        >
        <p>Money-back&nbsp;</p><p>guarantee</p>
        </h2>
      </div>
    </div>
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-486396127235540183 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=486396127235540183&template_id=482463146242475100)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
