
  
  
      <style>
        @font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-486269636539581655 .pointer-events-none{pointer-events:none}.gps-486269636539581655 .pointer-events-auto{pointer-events:auto}.gps-486269636539581655 .relative{position:relative}.gps-486269636539581655 .mx-auto{margin-left:auto;margin-right:auto}.gps-486269636539581655 .mb-0{margin-bottom:0}.gps-486269636539581655 .inline-block{display:inline-block}.gps-486269636539581655 .flex{display:flex}.gps-486269636539581655 .grid{display:grid}.gps-486269636539581655 .h-full{height:100%}.gps-486269636539581655 .w-full{width:100%}.gps-486269636539581655 .max-w-full{max-width:100%}.gps-486269636539581655 .flex-col{flex-direction:column}.gps-486269636539581655 .gap-y-0{row-gap:0}.gps-486269636539581655 .overflow-hidden{overflow:hidden}.gps-486269636539581655 .align-middle{vertical-align:middle}.gps-486269636539581655 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486269636539581655 .duration-200{transition-duration:.2s}.gps-486269636539581655 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486269636539581655 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-486269636539581655 .\[\&_p\]\:inline p{display:inline}.gps-486269636539581655 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-486269636539581655 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gTQDea9zDx"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-tablet:64px;--pb-tablet:64px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTQDea9zDx mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gp1CWBx65h relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gSJgbnRXTK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSJgbnRXTK mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmJxX4EZ9R relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g-y6sU-l4Y"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:var(undefined);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:30px;--cg:var(--g-s-l);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-y6sU-l4Y mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gH5DWN0g2x relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image ghQMHBdP_a"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:68px;--w-tablet:68px;--w-mobile:68px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/ab2902c6-0a80-49a4-9f12-7cd51202e2b3/-/format/auto/" data-srcset="https://ucarecdn.com/ab2902c6-0a80-49a4-9f12-7cd51202e2b3/-/format/auto/ 768w,https://ucarecdn.com/ab2902c6-0a80-49a4-9f12-7cd51202e2b3/-/format/auto/ 1024w,https://ucarecdn.com/ab2902c6-0a80-49a4-9f12-7cd51202e2b3/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="68" height="68" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gvcsfcOrXg relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g4iMMyY2uf "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word"
        >
        <p>Free Shipping Worldwide&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUS9i0Y2nQ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="grJIUJsZeF"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:var(undefined);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--mb-mobile:30px;--cg:var(--g-s-l);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grJIUJsZeF mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gGN-18CWhB relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gI6MpyEMVW"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:68px;--w-tablet:68px;--w-mobile:68px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-5028cd3e-e862-4f67-86f0-7cd053ab6aea.png" | asset_url }}" data-srcset="{{ '432750572815254551-5028cd3e-e862-4f67-86f0-7cd053ab6aea.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-5028cd3e-e862-4f67-86f0-7cd053ab6aea.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-5028cd3e-e862-4f67-86f0-7cd053ab6aea.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="68" height="68" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-IjR4DF6W relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g8eIWxx8hG "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word"
        >
        <p>Secure and Safe Payment&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKj3-rtAqh relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gnabJaEUBZ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:var(undefined);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--cg:var(--g-s-l);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F7F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnabJaEUBZ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwyEQA3kY5 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g4ODLICGNY"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--w:68px;--w-tablet:68px;--w-mobile:68px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-cef0a601-1f64-4964-b6bd-9dee253f9d9a.png" | asset_url }}" data-srcset="{{ '432750572815254551-cef0a601-1f64-4964-b6bd-9dee253f9d9a.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-cef0a601-1f64-4964-b6bd-9dee253f9d9a.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-cef0a601-1f64-4964-b6bd-9dee253f9d9a.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="68" height="68" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gl9tbpx5UL relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gujMpIShfB "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word"
        >
        <p>7-day Easy Return</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-486269636539581655 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=486269636539581655&template_id=482463146242475100)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
