
  
  
  <style>
    .gps-486269636522804145 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-486269636522804145 .pointer-events-none{pointer-events:none}.gps-486269636522804145 .pointer-events-auto{pointer-events:auto}.gps-486269636522804145 .relative{position:relative}.gps-486269636522804145 .mx-auto{margin-left:auto;margin-right:auto}.gps-486269636522804145 .mb-0{margin-bottom:0}.gps-486269636522804145 .block{display:block}.gps-486269636522804145 .inline-block{display:inline-block}.gps-486269636522804145 .flex{display:flex}.gps-486269636522804145 .inline-flex{display:inline-flex}.gps-486269636522804145 .grid{display:grid}.gps-486269636522804145 .hidden{display:none}.gps-486269636522804145 .h-full{height:100%}.gps-486269636522804145 .w-full{width:100%}.gps-486269636522804145 .max-w-full{max-width:100%}.gps-486269636522804145 .flex-none{flex:none}.gps-486269636522804145 .flex-col{flex-direction:column}.gps-486269636522804145 .items-center{align-items:center}.gps-486269636522804145 .justify-start{justify-content:flex-start}.gps-486269636522804145 .justify-center{justify-content:center}.gps-486269636522804145 .gap-y-0{row-gap:0}.gps-486269636522804145 .overflow-hidden{overflow:hidden}.gps-486269636522804145 .align-middle{vertical-align:middle}.gps-486269636522804145 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-486269636522804145 .duration-200{transition-duration:.2s}.gps-486269636522804145 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-486269636522804145 .tablet\:block{display:block}.gps-486269636522804145 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-486269636522804145 .mobile\:block{display:block}.gps-486269636522804145 .mobile\:hidden{display:none}}.gps-486269636522804145 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-486269636522804145 .\[\&_p\]\:inline p{display:inline}.gps-486269636522804145 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-486269636522804145 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gtHOfnYnbm"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:var(--g-s-xl);--pt-mobile:var(--g-s-4xl);--pl-mobile:0px;--pb-mobile:var(--g-s-xl);--pr-mobile:0px;--pt-tablet:var(--g-s-4xl);--pl-tablet:0px;--pb-tablet:var(--g-s-xl);--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url({{ "432750572815254551-6f125d09-f1f6-4af7-a6af-1ce63ed8b21c.png" | asset_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtHOfnYnbm mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVyGKjSjCQ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g3lPz6Do4v"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl-tablet:15px;--pr-tablet:15px;--cg:48px;--cg-tablet:32px;--cg-mobile:24px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3lPz6Do4v mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjnTNW5KqK relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g13a8Lz4r1 "
        style="--ta:center;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="flex" style="--jc:center;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#FFFFFF;word-break:break-word"
        >
        <p><a href="#">About</a></p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gHLmJBiFq8 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gMw5jI4xdh "
        style="--ta:center;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="flex" style="--jc:center;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#FFFFFF;word-break:break-word"
        >
        <p><a href="#">Shipping Policy</a></p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gbfQ8Zfmez relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gH9FyEofis "
        style="--ta:center;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="flex" style="--jc:center;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#FFFFFF;word-break:break-word"
        >
        <p><a href="#">Refunds</a></p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gxkv51n8yE relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g2mi7FKqP3 "
        style="--ta:center;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="flex" style="--jc:center;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#FFFFFF;word-break:break-word"
        >
        <p><a href="#">Terms &amp; Conditions</a></p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gxCHiuWTTT relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gzrbheKF2k "
        style="--ta:center;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#FFFFFF;word-break:break-word"
        >
        <p><a href="#">Blog</a></p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwxClU9xKw relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gbhsYqkGXZ "
        style="--ta:center;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#FFFFFF;word-break:break-word"
        >
        <p><a href="#">Stores</a></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:var(--g-s-3xl)" class="gGpTvuENp4 ">
      
    <div
      class="flex justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:rotate(0deg);--bc:#1F1F1F"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#1F1F1F;--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#1F1F1F;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#1F1F1F;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
      
      
    <div
      parentTag="Col" id="gzkeJGJYjS"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzkeJGJYjS mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0KpALXnML relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gHTZXU_jvB"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
    >
      <div
        class="pointer-events-auto h-full"
        
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-a79a9fe2-beda-4965-9885-dae48e1104e0.png" | asset_url }}" data-srcset="{{ '432750572815254551-a79a9fe2-beda-4965-9885-dae48e1104e0.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-a79a9fe2-beda-4965-9885-dae48e1104e0.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-a79a9fe2-beda-4965-9885-dae48e1104e0.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="685" height="72" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:auto;--objf:fill;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
      </div>
    </figure>
  </div>
    <div
      parentTag="Col"
        class="gq1b2Bdd_g "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word"
        >
        <p>© 2022 GemThemes</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-486269636522804145 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=486269636522804145&template_id=482463146242475100)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
